.netflix-player{
  display:flex;
  min-height:100vh;
  background:#F5F1ED;
  color:#3E2C23;
}

/* SIDEBAR */

.netflix-sidebar{
  width:320px;
  background:#FFFFFF;
  padding:30px;
  border-right:1px solid #E5DDD5;
  overflow:auto;
}

.course-title{
  font-size:42px;
  margin-bottom:30px;
  color:#6B3E26;
}

.module-block{
  margin-bottom:30px;
}

.module-block h3{
  margin-bottom:15px;
  color:#8B5E3C;
}

.lesson-item{
  padding:14px;
  border-radius:12px;
  margin-bottom:12px;
  background:#EFE7E1;
  cursor:pointer;
  transition:0.2s;
  font-weight:600;
}

.lesson-item:hover{
  background:#E0D2C7;
}

.lesson-item.active{
  background:#8B5E3C;
  color:white;
}

/* PLAYER */

.netflix-content{
  flex:1;
  padding:40px;

  display:flex;
  flex-direction:column;
  align-items:center;
}

.netflix-content h1{
  width:100%;
  max-width:900px;

  font-size:52px;
  margin-bottom:20px;

  color:#6B3E26;
}

/* VIDEO */

.netflix-video{
  width:100%;
  max-width:900px;

  max-height:70vh;

  border-radius:24px;
  background:black;

  object-fit:contain;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.15);
}

/* TEXT */

.text-content{
  width:100%;
  max-width:900px;

  background:white;
  padding:30px;
  border-radius:20px;

  line-height:1.8;

  box-shadow:
    0 5px 20px rgba(0,0,0,0.08);
}

/* IMAGE */

.image-content{
  width:100%;
  max-width:900px;

  border-radius:24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.12);
}

/* PDF */

.pdf-content{
  width:100%;
  max-width:1000px;
  height:80vh;

  border:none;
  border-radius:24px;

  background:white;
}

/* MOBILE */

@media(max-width:900px){

  .netflix-player{
    flex-direction:column;
  }

  .netflix-sidebar{
    width:100%;
    border-right:none;
    border-bottom:1px solid #ddd;
  }

  .netflix-content{
    padding:20px;
  }

  .netflix-content h1{
    font-size:34px;
  }

  .course-title{
    font-size:32px;
  }
}
.mobile-menu-btn{

display:none;

margin:10px;

padding:12px;

background:#7A4A3A;

color:white;

border:none;

border-radius:10px;

font-weight:600;
}


@media(max-width:768px){

.mobile-menu-btn{

display:block;
}


.netflix-player{

flex-direction:column;
}


.netflix-sidebar{

position:fixed;

left:-100%;

top:0;

width:85%;

height:100vh;

z-index:999;

transition:.3s;

overflow:auto;

background:#f5f1ee;
}


.netflix-sidebar.open{

left:0;
}


.netflix-content{

width:100%;
padding:15px;
}


.netflix-video{

width:100%;
height:auto;
}

}
.lesson-card{

display:flex;

align-items:center;

gap:10px;

width:100%;
}

.lesson-thumb{

width:70px;

height:45px;

border-radius:8px;

object-fit:cover;

flex-shrink:0;
}

.watermark{

  position: fixed;

  bottom: 30px;

  right: 40px;

  font-size: 14px;

  font-weight: 500;

  color: rgba(255,255,255,0.18);

  z-index: 9999;

  pointer-events: none;

  user-select: none;

  white-space: nowrap;

  letter-spacing: 1px;

}